<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319939830324-2orc1basdacrmkmckv5sf1aa3bqte00d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319939830324-2orc1basdacrmkmckv5sf1aa3bqte00d</string>
	<key>API_KEY</key>
	<string>AIzaSyCfuIkyh32gVAavV59d6jeQi7gRBJQ3O_0</string>
	<key>GCM_SENDER_ID</key>
	<string>319939830324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gdscNu</string>
	<key>PROJECT_ID</key>
	<string>gdsc-nu</string>
	<key>STORAGE_BUCKET</key>
	<string>gdsc-nu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319939830324:ios:e748835ae89344e32fa061</string>
</dict>
</plist>